<html>

<head>
    <meta charset="utf-8">
    <title>지원하기</title>
    <link rel="stylesheet" type="text/css" href="http://appme.emirim.kr/css/apply.css">
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">지원마감</div><br><br>
        <div class="intro">지원이 모두 마감되었습니다. 앱앤미에 많은 관심 가져주셔서 감사합니다!!<br>잠시 후 6시 30분 부터 면접이 시작될 예정입니다.</div><br><br><br>
        <hr width="1200px" size="1"><br><br>
        <div class="intro"><strong>지원자 확인하기</strong><br>* 앱앤미 부원 전용
            <br>
            <form action="/vertify" method="post">
                <input type="text" style="width:601; height:35;" name="code" placeholder="코드 입력" required>&nbsp;&nbsp;
                <input type="submit" value="확인하기"></form>
            <br></div>
    </section>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>