<html>

<head>
    <meta charset="utf-8">
    <title>개발일지</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/new_wep.css">
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">지원하기</div><br><br>
        <div class="intro">앱앤미에 관심이 생긴 신입생 여러분! 망설이지 말고 여러분의 마음을 표현해주세요!<br> 혹시 떨어지는 건 아닐까 고민될 수도 있겠지만, 분명 후회하지 않을 거에요..</div><br><br><br>
        <hr width="1200px" color="gray" size="1"><br><br>
        <center>
            <table class="table1">
                <tr>
                    <td></td>
                    <td style="height:30px">
                        <hr width="700px" valign=bottom color="#ff8daf" size="2">
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;" rowspan="3" valign=top><strong>연락을 위한 정보</strong></td>
                    <td style="width:700px;" colspan="2">이름<br><br> <input type="text" style="width:201; height:35;" placeholder="김뫄뫄"> <br><br>
                        <hr width="700px" color="gray" size="0.5">
                    </td>
                </tr>
                <tr>
                    <td>반&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;번호 <br><br>
                        <input type="text" style="width:50px;  height:35;" placeholder="1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <input type="text" style="width:60px; height:35;" placeholder="10"><br><br>
                        <hr width="700px" valign=bottom color="gray" size="0.5"> </td>
                </tr>
                <tr>
                    <td colspan="2"> 전화번호 <br><br> <input type="text" style="width:221; height:35;" placeholder="010-1234-1234"><br><br>
                        <hr width="700px" valign=bottom color="#ff8daf" size="2">
                    </td>
                </tr>
                <tr>
                    <td style="width:200px;" rowspan="3" valign=top><strong>자기소개</strong></td>
                    <td colspan="2">자신을 5글자로 표현해주세요. <br> <br><input type="text" style="width:181; height:35;">
                        <br><br>
                        <hr width="700px" valign=bottom color="gray" size="0.5">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> 지원동기를 작성해주세요(200자 이내)<br><br> <textarea style="width:600px; height:200px"></textarea>
                        <br><br>
                        <hr width="700px" valign=bottom color="gray" size="0.5">
                    </td>
                </tr>
                <tr>
                    <td colspan="2"> 입부 후 하고 싶은 일을 적어주세요. (200자 내외) <br><br> <textarea style="width:600px; height:200px"></textarea>
                        <br><br>
                        <hr width="700px" valign=bottom color="gray" size="0.5">
                    </td>
                </tr>
            </table>
            <br><br>
            <img src="http://localhost:3000/img/지원하기.png" width="230px" height="80px">
        </center>
    </section>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>