<!DOCTYPE html>
<html>

<body>
    <table class="margin">
        <tr>
            <td valign="center" width="600px"><img src="http://appme.emirim.kr/img/logo.png"></td>
            <td rowspan="2">
                <hr color="#ff8daf" size="70" border="solid" style="margin-top: 13px"><br></td>
            <td valign="center" width="600px">
                <div class="developed_App">developed & designed by APP & ME</div>
            </td>
        </tr>
        <tr>
            <td valign="top" align="right" width="600px">
                <div class="from">from. Mirim Meister School</div>
            </td>
            <td valign="top" align="right" width="600px">
                <div class="address">(00821) 서울시 관악구 호암로 546 (신림동)</div>
            </td>
        </tr>
    </table><br><br>

</html>