<!DOCTYPE html>
<html>

<body>

    <nav class="Lalyer_0">
        <div class="container">
            <a href="/">
                <img src="http://localhost:3000/img/logo.png" class="logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="QA common">
                    <p class="content"><a href="qa" class="Eng">Q&A</a></p>
                </div>
                <div class="Han common">
                    <p class="content"><a href="updates">개발일지</a></p>
                </div>
                <div class="Apply common">
                    <p class="content"><a href="apply">지원하기</a></p>
                </div>
                <div class="Members common">
                    <p class="content"><a href="members">부원소개</a></p>
                </div>
                <div class="ABOUT common">
                    <p class="content"><a href="about">&nbsp;&nbsp;ABOUT</a></p>
                </div>
            </div>
        </div>
    </nav>
</body>

</html>