<html>

<head>
    <meta charset="utf-8">
    <title>부원소개</title>
    <link rel="stylesheet" type="text/css" href="https://app-and-me.herokuapp.com/css/member.css">
</head>

<body>

    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">부원소개</div><br><br>
        <div class="intro">앱앤미의 부원을 소개합니다<br>
            <div class="font">**사진을 클릭하면 페이스북으로 이동해요</div>
        </div><br><br>
        <hr width="1200px" color="gray" size="1"><br>
        <div style="margin-left:12%; font-size: 20pt"> <a href="member_wep.html">6기</a> &nbsp;&nbsp;
            <a href="member2_wep.html"><strong>7기</strong></a></div>
        <br><br><br>
        <center>
            <table>
                <tr>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100008871227093">
                                <img src="https://app-and-me.herokuapp.com/img/남하빈2.jpg" style="width: 370px; height: 370px;">
                                <div class="jb-text">
                                    &nbsp; <br>남하빈
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 소프트웨어과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100009610962191">
                                <img src="https://app-and-me.herokuapp.com/img/소민지.jpg" style="width: 370px; height: 370px;">
                                <div class="jb-text">
                                    &nbsp; <br>소민지
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 소프트웨어과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100024666314560">
                                <img src="https://app-and-me.herokuapp.com/img/정민지.jpg" style="width: 370px; height: 370px;">
                                <div class="jb-text">
                                    &nbsp; <br>정민지
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 소프트웨어과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100009075758105">
                                <img src="https://app-and-me.herokuapp.com/img/이현수.jpg" style="width: 370px; height: 370px;">
                                <div class="jb-text">
                                    &nbsp; <br>이현수
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 웹솔루션과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100009601390266">
                                <img src="https://app-and-me.herokuapp.com/img/서채원.jpg" style="width: 370px; height: 370px; ">
                                <div class="jb-text">
                                    &nbsp; <br>서채원
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 디자인과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100000911379372">
                                <img src="https://app-and-me.herokuapp.com/img/윤주하.jpg" style="width: 370px; height: 370px; ">
                                <div class="jb-text">
                                    &nbsp; <br>윤주하
                                    <div style="font-size:15pt "> &nbsp; &nbsp; &nbsp;[뉴미디어 디자인과]</div>
                                </div>
                            </a>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </section><br>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>