<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Q&A</title>
    <link rel="stylesheet" type="text/css" href="http://appme.emirim.kr/css/QA_wep.css">

</head>

<body bgcolor=#f8f8f8>
    <header>
        <% include ./header %>
    </header>
    <section class="background1_2">
        <br><br><br><br>
        <div class="QA_title">Q&A</div><br><br>
        <div class="intro">앱앤미와 관련되어 궁금한 점이 있다면<br> 질문하고 궁금증을 풀어보세요. </div><br><br><br>
        <hr width="1200px" color="gray" size="1"><br><br><br><br>
        <table width="1000px" class="list-table" align=center frame=void style='border-left:0;border-right:0;border-bottom:0;border-top:0'>
            <tr height="40px">
                <td bgcolor=#f6f6f6>제목</td>
                <td bgcolor=#fbfbfb size="35" style="margin-left:0%; text-align: left">
                    &nbsp;&nbsp;&nbsp;
                    <%=item.title%>
                </td>
            </tr>
            <tr height="40px">
                <td bgcolor=#f6f6f6>작성자</td>
                <td bgcolor=#fbfbfb size="35" style=" margin-left:0%; text-align: left">
                    &nbsp;&nbsp;&nbsp;
                    <%=item.name%>
                </td>
            </tr>
            <tr height="40px">
                <td colspan="2" style=" padding:20px 35px; text-align: left; height: 500px; vertical-align: top;">
                    <%=item.content%>
            </tr>
        </table>
        <a href="#" onClick="history.go(-1); return false ; "><img style="float: left; margin-left:14%; margin-top:1.5%; margin-bottom: 5%" src="http://appme.emirim.kr/img/list.jpg"></a>
        <div class="box" style="width: 100%; background: #f6f6f6; height: 150px;"></div>
    </section>
    <footer>
        <% include ./footer %>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
</body>

</html>