<html>

<head>
    <meta charset="utf-8">
    <title>updates</title>
    <link rel="stylesheet" type="text/css" href="https://app-and-me.herokuapp.com/css/dev_wep.css">
</head>

<body>

    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">개발일지</div><br><br>
        <div class="intro">앱앤미 부원들이 서로 협업하여 개발하고 디자인 한<br> 앱앤미 웹사이트의 업데이트 과정을 살펴보세요.</div><br><br><br>
        <hr width="1200px" color="gray" size="1"><br><br><br><br><br><br>
        <center>
            <blockquote class="embedly-card">
                <h4><a href="https://github.com/wisemuji/App_and_Me_Website/commits/master">3학년 뉴미디어솔루션과 김수현</a></h4>
                <p>Back-End Development with Node.js/Express Framework & MongoDB</p>
            </blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <blockquote class="embedly-card">
                <h4><a href="https://github.com/leesohyeon/APP-ME/commits/master">3학년 뉴미디어솔루션과 이소현</a></h4>
                <p>Front-End Development with HTML/CSS/JaveScript</p>
            </blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
            <blockquote class="embedly-card">
                <h4><a href="https://github.com/ITHYO/App-Me/commits/master">3학년 인터랙티브미디어과 김효경</a></h4>
                <p>Front-End Development with HTML/CSS/JaveScript</p>
            </blockquote>
            <script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
        </center>
    </section><br>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>