<html>

<head>
    <meta charset="utf-8">
    <title>개발일지</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:3000/css/dev_wep.css">
</head>

<body>

    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">개발일지</div><br><br>
        <div class="intro">앱앤미 부원들이 서로 협업하여 개발하고 디자인 한<br> 앱앤미 웹사이트의 업데이트 과정을 살펴보세요.</div><br><br><br>
        <hr width="1200px" color="gray" size="1"><br><br><br><br><br><br>
        <center>
            <table>
                <tr>
                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 1차</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 2차</p>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 3차</p>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 4차</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 5차</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <div class="jb-image"><img src="http://localhost:3000/img/club_top1.png" class="club_top1"></div>
                            <div class="jb-text">
                                <p> &nbsp; 6차</p>
                            </div>
                        </div>
                    </td>
            </table>
        </center>
    </section><br>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>