<html>

<head>
    <meta charset="utf-8">
    <title>개발일지</title>
    <link rel="stylesheet" type="text/css" href="http://appme.emirim.kr/css/new_confirm.css">
</head>

<body>
    <header>
        <% include ./header %>
    </header>
    <section class="background1">
        <br><br><br><br>
        <div class="DEV_title">지원현황</div><br><br>
        <hr width="1200px" color="gray" size="1"><br>
        <center>
            <table>
                <tr>
                    <td>
                        <div class="jb-wrap">
                            <div class="title">
                                <div class="name">3611&nbsp;이소현</div>
                                <div class="phone">010-1234-1234</div>
                                <div class="five">앱앤미체고</div>
                                <div class="pr">냥냐리냥ㄴ야</div>
                                <div class="reason">왜냐면 냥냐리냥냥</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <div class="title">
                                <div class="name">3611&nbsp;이소현</div>
                                <div class="phone">010-1234-1234</div>
                                <div class="five">앱앤미체고</div>
                                <div class="pr">냥냐리냥ㄴ야</div>
                                <div class="reason">왜냐면 냥냐리냥냥</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="jb-wrap">
                            <div class="title">
                                <div class="name">3611&nbsp;이소현</div>
                                <div class="phone">010-1234-1234</div>
                                <div class="five">앱앤미체고</div>
                                <div class="pr">냥냐리냥ㄴ야</div>
                                <div class="reason">왜냐면 냥냐리냥냥</div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </center>
    </section><br>
    <footer>
        <% include ./footer %>
    </footer>
</body>

</html>